html, body{
	margin: 0px;
	padding: 0px;
	text-align: center;
	background-color: #fff;
	/*#F7F5EE*/
}
h1{
	font-family: "Garamond", "Arial";
	font-size: 60px;
	margin-bottom: 15px;
	margin-top: 50px;
}
input{
	margin: 0px;
	padding: 5px;
	font-size: 14px;
}
#go{
	background-color: #FDD922;
	color: darkblue;
	border-radius: 2px;
	border: 0px;
	padding: 6px;
}
input[type='button']{
	padding: 3px;
	top: 3px;
	right: 6px;
	position: absolute;
	z-index: 1;
	font-size: 14px;
}

#drpdwn{
	background:#104E8B;
	width: 100%;
	height: 34px;
	position: absolute;
	top: 0px;
	left: 0px;

}
#corno{
text-align: right;
color: white;
font-family: Garamond, Arial;
}
pure-button-hover, .pure-button:hover, .pure-button:focus {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
}
a:active, a:hover {
    outline: 0px none;
}
.pure-button {
    font-family: inherit;
    font-size: 100%;
    padding: 0.5em 1em;
    color: rgba(0, 0, 0, 0.8);
    border: 0px none transparent;
    background-color: rgb(230, 230, 230);
    text-decoration: none;
    border-radius: 2px;
}
.pure-button {
    display: inline-block;
    line-height: normal;
    white-space: nowrap;
    vertical-align: baseline;
    text-align: center;
    cursor: pointer;
    -moz-user-select: none;
}
#drpdwn2{
	background:transparent;
	width: 99%;
	height: 40px;
	left: 0px;
	margin-top: -40px;
	margin-bottom: 30px;
}
.a{
	float: left;
	border: 1px solid #000;
	width: 200px;
	height: 180px;
	margin-right: 20px;
	margin-bottom: 30px;
}
#mainbox{
	padding-left: 300px;
	padding-right: 250px;
	margin-top: 80px;
}
